<div class="container-fluid">

    <h3 style="text-align: center; font-weight: bold;">Welcome to Home Automation !!</h3>
    <!-- Content Row -->

    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Products</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">Television <span class="float-right"></span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Fridge <span class="float-right"></span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold"> <span class="float-right">Overall Duration!</span></h4>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-lg-6 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">About</h6>
                </div>
                <div class="card-body" style="font-weight: bold; font-size: large;">
                    A home automation system will monitor and/or control home attributes such as
                    Television, Fridge and appliances. It may also include home security such as access control and
                    alarm systems. When connected with the Internet, home devices are an important constituent of the
                    Internet of Things.
                </div>
            </div>


        </div>
    </div>
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Reports</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">On Time</th>
                                    <th scope="col">Off Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Television</td>
                                    <td>Jun 05 2022</td>
                                    <td>19:27:55</td>
                                    <td>19:28:35</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Television</td>
                                    <td>Jun 05 2022</td>
                                    <td>20:17:25</td>
                                    <td>21:38:35</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Television</td>
                                    <td>Jun 06 2022</td>
                                    <td>11:27:12</td>
                                    <td>12:28:33</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Television</td>
                                    <td>Jun 06 2022</td>
                                    <td>02:00:59</td>
                                    <td>02:28:11</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Reports</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">On Time</th>
                                    <th scope="col">Off Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Fridge</td>
                                    <td>Jun 05 2022</td>
                                    <td>19:27:55</td>
                                    <td>19:28:35</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Fridge</td>
                                    <td>Jun 05 2022</td>
                                    <td>20:17:25</td>
                                    <td>21:38:35</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Fridge</td>
                                    <td>Jun 06 2022</td>
                                    <td>11:27:12</td>
                                    <td>12:28:33</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Fridge</td>
                                    <td>Jun 06 2022</td>
                                    <td>02:00:59</td>
                                    <td>02:28:11</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->


</div>